*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.carBox {
  margin:  0 auto;
  border: 2px solid black;
  padding: 32px;
  margin-top: 20px;
  
}

.carBox th {
  color: #f44e0c;
  font-size: 32px;
  border: 1px solid black;
  padding: 8px;
}

.carBox td {
  color: #2d2727;
  border: 1px solid #00000080;
  font-size: 24px;
}


